body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.491), rgba(0, 0, 0, 0.416)), url(./images/bg.webp);
    height: 100vh;
}

.login-top {
    width: 100vw;
    height: 70px;
    background-color: transparent;
    display: flex;
    padding: 50px 20px;
    align-items: center;
}

.login-top img {
    width: 70px;
}

.login-box {
    background-color: rgba(0, 0, 0, 0.899);
    width: 430px;
    height: 500px;
    border-radius: 10px;
    padding: 40px;
    margin-top: 80px;
}

.small-text {
    font-size: 13px;
}

.form-control {
    box-shadow: none !important;
}

.forgot-password {
    font-family: 'Times New Roman';
    padding-top: 5px;
    Padding-left: 230px;
}

.move-up {
    margin-top: -15px;
    /* Move both elements up slightly */
}